<ion-view view-title="Login" class="logo">
  <ion-content   scroll="false" >
    <!--<img src="img/logo.png" style="position:absolute;left: 0;right: 0;margin:80px auto">-->

    <div class="wrap-forgotpwd100">
        <table id="wrapper">
          <tr>
            <td><img src="img/logo.png" alt="" /></td>
          </tr>
        </table>
        <form style="padding:20px;margin-top:100px">  <div class="form-group">
  			<label for="email">Email:</label>
  			<input type="text" class="form-control" id="email1" placeholder="Email" ng-model="val.email">
  		  </div>

  		  <input type="button" class="form-control sub text-default" id="pwd" value="Reset Password" ng-click="reset()">
  		  <div class="col-xs-4 text-left">
  		<p><a href="#register">Register</a></p>
  		</div>
  		<div class="col-xs-8 text-right">
  		<a href="#login">Already have an account</a>
  		</div>
  		</form>

  	</div>

  </ion-content>
</ion-view>
