<ion-view>
  <ion-nav-title style="color:white;">
    Music Settings
  </ion-nav-title>
  <ion-content >
    <!-- <div style="background:#fafafa;padding:10px" >PlayList </div> -->
        <ion-list>
          <ion-item ng-click="goto('playlists')">
            <i class="fa fa-music pull-left" style="margin-top:2px;margin-left:10px"></i>&nbsp;&nbsp;&nbsp;&nbsp;PlayLists
            <i class="fa fa-angle-right pull-right"></i>
          </ion-item>

          <!-- <ion-item ng-repeat="item in items track by $index" >
            &nbsp;&nbsp;&nbsp;&nbsp;{{item}}&nbsp;&nbsp;&nbsp;&nbsp;
          </ion-item> -->
        </ion-list>
  </ion-content>
</ion-view>
