<ion-view view-title="Profile Pic" >
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <ion-nav-title style="color:white;">
    Profile Pic
  </ion-nav-title>
  <ion-content >

    <div class="col-xs-12 col-sm-12" style="margin-top:30px">

      <br>

      <table id="wrapper">
        <tr>
          <td><img  ng-show="imgURI == undefined" src="img/userprofile.png" id="myImage" alt="" /></td>
          <td><img  class="Centered" ng-show="imgURI !== undefined" ng-model="imgURI" ng-src= "{{imgURI}}" style="border-radius:50%;"></td>
        </tr>
      </table>

      <br>
      <br>


      <form action="/action_page.php" >

        <div class="col-xs-6">
          <input type="button" class="form-control sub text-default" id="pwd" value="Cancel" ng-click="cancelPic()">
        </div>
        <div class="col-xs-6">
          <input type="button" class="form-control sub text-default" id="pwd2" value="Change Pic" ng-click="triggerActionSheet()">
        </div>
      </form>
    </div>

  </ion-content>
</ion-view>

