
<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<!--</head>-->
<!--<body>-->
<ion-view >
  <ion-nav-title style="color:white;">
    Settings
  </ion-nav-title>
  <ion-content >

    <ion-item ng-click="goto('updateprofile')">
      <i class="fa fa-pencil pull-left" style="margin-top:2px;margin-left:10px"></i>&nbsp;&nbsp;&nbsp;&nbsp;Update Profile   <i class="fa fa-angle-right pull-right"></i>
    </ion-item>

    <ion-item ng-click="goto('musicsettings')">
      <i class="fa fa-music pull-left" style="margin-top:2px;margin-left:10px"></i>&nbsp;&nbsp;&nbsp;&nbsp;Music Settings  <i class="fa fa-angle-right pull-right"></i>
    </ion-item>

    <ion-item ng-click="goto('profilepic')">
      <i class="fa fa-user pull-left" style="margin-top:2px;margin-left:10px"></i>&nbsp;&nbsp;&nbsp;&nbsp;Profile Pic       <i class="fa fa-angle-right pull-right"></i>
    </ion-item>

    <!--<table class="table table-hover">-->
    <!--<tbody>-->
    <!--<tr>-->
    <!--<td ></td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td  ></td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td  ></td>-->
    <!--</tr>-->
    <!--</table>-->

    </ion-list>
  </ion-content>
</ion-view>
<!--</body>-->
<!--</html>-->
